.searchDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
}

.input {
  margin-right: 25px;
  height: 40px;
  border-radius: 10px;
  width: 160px;
}

.btn{
  width: 100px;
  border-radius: 10px;
}

.results {
  display: flex;
  justify-content: center;
}

.card {
  box-sizing: border-box;
  border: solid greenyellow 2px;
  padding: 15px;
  border-radius: 10px;
  width: 400px;
}

.card:hover{
  background-color: green;
  color: white;
}

.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
}